.menu
  display: block
  position: fixed
  left: 0
  right: 0
  background-color: $TEAL
  z-index: 1
  +trans($easyslider)

.menu--revealed
  top: 40px

.menu--hidden
  top: -400px

.menu--filters
  display: inline-block
  padding: 12px

  +break-for(iphone)
    display: block
    margin: 4px auto
    width: 90%
    text-align: center

  label
    display: inline-block
    cursor: pointer
    color: $LIGHT-TEXT

    &.title
      margin-right: 12px
      +break-for(iphone)
        display: block
        margin: 0 auto
        font-size: 24px
        padding: 12px

    &.all
      border: 1px solid
      padding: 4px 12px
      border-top-left-radius: 4px
      border-bottom-left-radius: 4px
      border-right: none
      +break-for(iphone)
        font-size: 24px

    &.twitter
      border: 1px solid
      padding: 4px 12px
      +break-for(iphone)
        font-size: 24px

    &.blogs
      border: 1px solid
      padding: 4px 12px
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      border-left: none
      +break-for(iphone)
        font-size: 24px

    &.selected
      color: $TEAL
      background-color: $LIGHT-TEXT
      border-color: $LIGHT-TEXT

    &.unselected
      color: $LIGHT-TEXT
      background-color: $TEAL
      border-color: $LIGHT-TEXT

.menu--links
  position: absolute
  margin-top: 16px
  right: 12px

  +break-for(iphone)
    display: block
    position: initial


  a
    color: $TEAL
    background-color: white
    padding: 4px
    margin: 8px
    border-radius: 1px
    border: 1px solid white
    cursor: pointer
    +trans($easybreezy)

    +break-for(iphone)
      display: block
      font-size: 24px
      padding: 8px
      width: 250px
      margin: 24px auto

    &:hover
      color: #fff
      background-color: $TEAL
