extends components/base

block append content

  include components/header

  include components/account-details

  include components/scripts
  script(type="text/javascript").
    jspro.render.getFeedItems();
