extends components/base

block append content

  include components/header

  include components/loader

  include components/feed

  if (user)
    h4.userId#userId= user.id

  include components/scripts
  script(type="text/javascript").
    jspro.startJsing();
