extends components/base

block append content

  include components/header

  div.loginScreen

    h1
      span(class="loginScreen--header")= msg.mode

    form(action="/#{msg.mode}", method="post")

      include components/login-form

      if (msg.msg)
        h3.msg= msg.msg

      button(type="submit", class="#{msg.mode}")= msg.mode

    span.loginScreen--socialIcons

      h2
        | other options

      if (msg.mode == 'signup')

        a(href="/login", class="login")
          span(class="fa fa-user")
          label
            | login
      else
        a(href="/signup", class="signup")
          span(class="fa fa-user")
          label
            | new user

      a(href="/auth/google", class="google")
        span(class="fa fa-google-plus")
        label
          | google

  include components/scripts
